
   <div class="col-md-12">
    <div class="jumbotron">
        <h1>Where Musicians Gather</h1>
        <h3>Looking for bandmembers, or just want to show your skills?</h3><br>
        <% if !user_signed_in?%>
        <p><%= link_to "Sign Up To Create Your Profile", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
        <% else %>
        <p></p>
        <% end %>
        <div class="features">
        <div class="col-md-4">
        <div class="content">
            <h4>Find your next band</h4>
            <h5>Search amongst musicians all over the world to find someone looking for YOU</h5>
        </div>
        </div>
        
        <div class="col-md-4">
        <div class="content">
            <h4>Share your work</h4>
            <h5>Create your very own music résumé and show off your compositions and contributions</h5>
        </div>
        </div>
        
        <div class="col-md-4">
        <div class="content">
            <h4>Premium promotion</h4>
            <h5>Subscribe to our premium account and we will make sure to promote you</h5>
            
        </div>
        </div>
        
        </div>
    </div>
    </div>
    



<div class="featureHead">
   <h2>Featured artists</h2>
</div>
<div class="row">
    <% @subscribers[0,8].each do |user| %>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
           <div class="text-center">
               <% if user == current_user %>
               <%= link_to (image_tag user.image.url(:medium)), users_profile_path %>
               <% else %>
               <%= link_to (image_tag user.image.url(:medium)), user %>
               <% end %>
               <h4 class="userMain" align="center"><%= user.username %></h4>
               

<div class="btn-group">
    <%= link_to user_path(user), class: "btn btn-default btn-sm" do %>

    <span class="glyphicon glyphicon-user"></span>
    Profile

  <% end %>
    <% if user_signed_in?%>
    <% if user.friends_with?(current_user) %>
             <%= link_to user_like_path(user), method: :put, class: "btn btn-default btn-sm" do %>

    <span class="glyphicon glyphicon-chevron-up"></span>
    Upvote
              <%= user.get_upvotes.size %>
  <% end %>
  
    <% else %>
    
     <button disabled class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-thumbs-up"></span>
               <%= user.get_upvotes.size %>(Connect to upvote)
               </button>
    
    <% end %>
   
   
    
  
   
    



<% end %>
      </div>
 
      </div>



        </div>
    </div>
    
    <% end %>
    
    
    
</div>



<div class="featureHead">
   <h2 class="newly">Newly joined artists</h2>
</div>
<div class="row">
    <% @newest[0,8].each do |user| %>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
           <div class="text-center">
               <% if user == current_user %>
               <%= link_to (image_tag user.image.url(:medium)), users_profile_path %>
               <% else %>
               <%= link_to (image_tag user.image.url(:medium)), user %>
               <% end %>
               <h4 class="userMain" align="center"><%= user.username %></h4>
               

<div class="btn-group">
    <%= link_to user_path(user), class: "btn btn-default btn-sm" do %>

    <span class="glyphicon glyphicon-user"></span>
    Profile

  <% end %>
    <% if user_signed_in?%>
    <% if user.friends_with?(current_user) %>
             <%= link_to user_like_path(user), method: :put, class: "btn btn-default btn-sm" do %>

    <span class="glyphicon glyphicon-chevron-up"></span>
    Upvote
              <%= user.get_upvotes.size %>
  <% end %>
  
    <% else %>
    
     <button disabled class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-thumbs-up"></span>
               <%= user.get_upvotes.size %>(Connect to upvote)
               </button>
    
    <% end %>
   
   
    
  
   
    



<% end %>
      </div>
 
      </div>



        </div>
    </div>
    
    <% end %>
    
    
    
</div>











