<div class="profile-container">

<div class="profile-head">
 <%= image_tag @user.image.url(:medium), class:"profile-img" %>
  <div class="profile-text">
      <h1 class="profile-name"><%= @user.username %></h1><br>
        <% if @user.subscribed? %>
        <span class="premium-badge">Premium</span></h4><br><br>
    <% end %>
        <% if user_signed_in? || admin_signed_in? %>
        <% if current_user != @user && !admin_signed_in? %>
          <div class="btn-group">






      </div>
             <% end %>
              <% end %>
    </h1><br><br>




    <span class="profile-title"><%= @user.instruments %><br><br>
    Age: 28<br><br>
    <%= @user.location %><br><br>




    </span>

  </div>
  </div>


<div class="content">
       <div class="col-md-7">
        <h4 class="test">ABOUT</h4>
        <hr>
          <%= @user.about %>

         <h4 class="test">INSTRUMENTS</h4>
         <hr>
          <%= @user.instruments %>

          <h4 class="test">INFLUENCES</h4>
          <hr>
          <%= @user.influences %>

          <h4 class="test">PRIOR EXPERIENCE</h4>
          <hr>
          <%= @user.experience %>

          <h4 class="test">GEAR</h4>
          <hr>
          <%= @user.gear %>



           </div>


          <div class="col-md-5">



         <div class="friend-container">
              <h4 class="test">CONNECTIONS(<%= link_to "show all", users_userconnections_path  %>)</h4>
          <hr>


          <div class="friendList">
          <ul class="friends">
          <% @user.friends[0,8].each do |friend| %>
          <li>
           <div class="thumbnail">
          <%= link_to (image_tag friend.image.url(:thumb)), friend %>
          <h5 class="userMain"><%= friend.username %></h5>
          </div>
          </li>

          <% end %>
          </ul>

          </div>
        </div>

           <h4 class="test">MEDIA</h4>
          <hr>
        <div class="player-container">
            <% if @user.media == nil || @user.media == "" %>
              <h5>You have no media added</h5>
            <h5>Click <%= link_to "here", edit_user_registration_path %> to edit your profile and add your songs</h5>
              <% else %>
          <iframe width="100%" height="166" scrolling="no" frameborder="no" src="<%=                @user.media %>"></iframe>
              <% end %>
              </div>

    </div>
      </div>

<div class = "col-md-12">
 <h3 class="comments_title">
   <%= @user.comments.count %> Comments
 </h3>

 <div id="comments">
   <%= render :partial => @user.comments %>
 </div>
 <% if user_signed_in? %>
<%= simple_form_for [@user, Comment.new] do |f| %>
<div class="field">
  <%= f.text_area :body, class: "form-control", cols: "30", rows: "5"  %>
   
    
    <%= f.input :poster_id, :as => :hidden, :input_html => { :value => current_user.username } %>
   
</div>
<br>
<%= f.submit "Add Comment", class: "btn btn-primary" %>
<% end %>
    <% else %>
    NOT A USER?
    <% end %>
</div>

 </div>
