<div class="profile-container">

<div class="profile-head">
 <%= image_tag @user.image.url(:medium), class:"profile-img" %>
  <div class="profile-text">
      <h1 class="profile-name"><%= @user.username %></h1><br>
      <% if @user.subscribed? %>
        <span class="premium-badge">Premium</span></h4><br><br>
    <% end %>

        <% if user_signed_in? %>
        
          <div class="btn-group">
              <%= link_to user_like_path(@user), method: :put, class: "btn btn-default btn-sm" do %>
    <span class="glyphicon glyphicon-envelope"></span>
    Mail

  <% end %>
              <% if @user.friends_with?(current_user) %>
             <%= link_to user_like_path(@user), method: :put, class: "btn btn-default btn-sm" do %>
    <span class="glyphicon glyphicon-thumbs-up"></span>
    Upvote
              <%= @user.get_upvotes.size %>

  <% end %>
             
              <% else %>
              <button disabled class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-thumbs-up"></span>
               <%= @user.get_upvotes.size %>(Connect to upvote)
               </button>
              
              <% end %>

              <%if user_signed_in? %>
              <%if !@user.friends_with?(current_user)%>

                  <%= link_to user_connect_path(@user), method: :put, class: "btn btn-default btn-sm" do %>
    <span class="glyphicon glyphicon-music"></span>
    Connect

              <% end %>


  <% end %>


<% else %>

              <% end %>





      </div>
             
              <% end %>
    </h1><br><br>




    <span class="profile-title"><%= @user.instruments %><br><br>
    Age: 28<br><br>
    <%= @user.location %><br><br>
        <%if user_signed_in? %>
        <%if @user.friends_with?(current_user)  %>
    <span class="glyphicon glyphicon-music"></span>
    Your connection
        <% else %>
        <% end %>
        <% end %>



    </span>

  </div>
  </div>


<div class="content">
       <div class="col-md-7">
        <h4 class="test">ABOUT</h4>
        <hr>
          <%= @user.about %>

         <h4 class="test">INSTRUMENTS</h4>
         <hr>
          <%= @user.instruments %>

          <h4 class="test">INFLUENCES</h4>
          <hr>
          <%= @user.influences %>

          <h4 class="test">PRIOR EXPERIENCE</h4>
          <hr>
          <%= @user.experience %>

          <h4 class="test">GEAR</h4>
          <hr>
          <%= @user.gear %>


           </div>









          <div class="col-md-5">
        <div class="friend-container">
         <h4 class="test">CONNECTIONS(<%= link_to "show all", user_connections_path(@user)  %>)</h4>
          <hr>


          <div class="friendList">
              <% if @user.friends.size == 0 %>
              <h5>This Fusician has no connections yet</h5>
              <% if @user.requested_friends.size > 0 %>
              <% @user.requested_friends.each do |friend| %>
              <% if friend == current_user %>
              <h5>You have requested a connection with <%= @user.username %></h5>
              <% else %>
              <h5>Have you played together? Click <%= link_to "here", user_connect_path(@user), method: :put %> to connect</h5>
              <% end %>
              <% end %>
              
              <% else %>
              <h5>Have you played together? Click <%= link_to "here", user_connect_path(@user), method: :put %> to connect</h5>
              <% end %>
              
              <% else %>
          <ul class="friends">
              <% @user.friends[0,8].each do |friend| %>
          <li>
           <div class="thumbnail">
          <%= link_to (image_tag friend.image.url(:thumb)), friend %>
          <h5 class="userMain"><%= friend.username %></h5>
          </div>
          </li>

          <% end %>  <!-- all friends -->
          </ul>
          
              <% end %> <!-- if user friend size = 0 -->

          </div>
              </div>

          <h4 class="test">MEDIA</h4>
          <hr>
          <div class="player-container">
              <% if @user.media == nil || @user.media == "" %>
              <h5><%= @user.username %> has no media added</h5>
              <% else %>
          <iframe width="100%" height="166" scrolling="no" frameborder="no" src="<%= @user.media %>"></iframe>
              <% end %>
              </div>



    </div>
      </div>

<div class = "col-md-12">
 <h3 class="comments_title">
   <%= @user.comments.count %> Comments
 </h3>

 <div id="comments">
   <%= render :partial => @user.comments %>
 </div>
 <% if user_signed_in? %>
<%= simple_form_for [@user, Comment.new] do |f| %>
<div class="field">
  <%= f.text_area :body, class: "form-control", cols: "30", rows: "5"  %>
    
    <%= f.input :poster_id, :as => :hidden, :input_html => { :value => current_user.username } %>
    
</div>
<br>
<%= f.submit "Add Comment", class: "btn btn-primary" %>
<% end %>
    <% else %>
    NOT A USER?
    <% end %>
</div>

 </div>
