<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
          <%= image_tag @user.image.url(:medium) %>
        <div class="table-responsive">
          <table class='table table-borderless'>
            <tbody>
              <tr>
                <td><strong>Name:</strong></td>
                  <td><%= @user.username %></td>
              </tr>
              <tr>
                <td><strong>Age:</strong></td>
                <td>Age of user</td>
              </tr>
              <tr>
                <td><strong>Location:</strong></td>
                  <td><%= @user.location %></td>
              </tr>
              <tr>
                <td><strong>Main Instrument:</strong></td>
                <td>Instrument of user</td>
              </tr>
              <tr>
                <td><strong>Something:</strong></td>
                <td>Blabla</td>
              </tr>
              
                   <% if user_signed_in? %>
              <% if @user.id != current_user.id %>
          <div class="btn-group">
              <%= link_to user_like_path(@user), method: :put, class: "btn btn-default btn-sm" do %>
    <span class="glyphicon glyphicon-envelope"></span>
    Mail
              
  <% end %>
             <%= link_to user_like_path(@user), method: :put, class: "btn btn-default btn-sm" do %>
    <span class="glyphicon glyphicon-thumbs-up"></span>
    Upvote
              <%= @user.get_upvotes.size %>
  <% end %>
              
              <% end %>
              <% end %>
             
         
          
      </div></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-7">
        <h4>ABOUT</h4>
        <hr>
          <%= @user.about %>
         
         <h4 class="test">INSTRUMENTS</h4>
         <hr>
          <%= @user.instruments %>
          
          <h4 class="test">INFLUENCES</h4>
          <hr>
          The earliest influence on my songwriting comes from the singer-songwriters I grew up on — people like Jackson Browne, James Taylor, Dan Fogelberg, Crosby, Stills & Nash, Jon Pousette-Dart, and so on. These artists define the main stream in which I work: acoustic folk-rock. At the same time, I listened to a lot of progressive rock early on, especially Yes, which helped shape my early practice of writing suites of songs.
          
          <h4 class="test">PRIOR EXPERIENCE</h4>
          <hr>
          
          <h4 class="test">GEAR</h4>
          <hr>
          
        
         
          
             
         
          
      </div>
    </div>
  </div>
</div>
