<div class="profile-container">

<div class="profile-head">
 <%= image_tag @user.image.url(:medium), class:"profile-img" %>
  <div class="profile-text">
    <h1 class="profile-name"><%= @user.username %></h1>
    <span class="profile-title"><%= @user.instruments %><br><br>
    Age: 28<br><br>
    <%= @user.location %></span>
   
  </div>
  </div>
  

<div class="content">
       <div class="col-md-7"> 
        <h4 class="test">ABOUT</h4>
        <hr>
          <%= @user.about %>
         
         <h4 class="test">INSTRUMENTS</h4>
         <hr>
          <%= @user.instruments %>
          
          <h4 class="test">INFLUENCES</h4>
          <hr>
          <%= @user.influences %>
          
          <h4 class="test">PRIOR EXPERIENCE</h4>
          <hr>
          <%= @user.experience %>
          
          <h4 class="test">GEAR</h4>
          <hr>
          <%= @user.gear %>
           </div>
          
          <div class="col-md-4">
           <h4 class="test">CONNECTIONS(<%= link_to "show all", user_connections_path(@user)  %>)</h4>
          <hr>
   
         
          <div class="friendList">
          <ul class="friends">
          <% @user.friends.each do |friend| %>
          <li>
           <div class="thumbnail">
          <%= link_to (image_tag friend.image.url(:thumb)), friend %>
          <%= friend.username %>
          </div>
          </li>
           
          <% end %>
          </ul>
          </div>
          
    </div>
      </div>    
    
          
 </div>
