<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
          <%= image_tag @user.image.url(:medium) %>
        <div class="table-responsive">
          <table class='table table-borderless'>
            <tbody>
              <tr>
                <td><strong>Name:</strong></td>
                <td><%= @user.first_name %></td>
              </tr>
              <tr>
                <td><strong>Age:</strong></td>
                <td>Age of user</td>
              </tr>
              <tr>
                <td><strong>Main Instrument:</strong></td>
                <td>Instrument of user</td>
              </tr>
              <tr>
                <td><strong>Something:</strong></td>
                <td>Blabla</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-7">
        <h4 class="test">ABOUT</h4>
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.<hr>
         
         <h4 class="test">INSTRUMENTS</h4>
          <%= @user.instruments %>
          <hr>
          <h4 class="test">INFLUENCES</h4>
          <% if user_signed_in? %>
          <% if !@user == current_user.id %>
          <div class="btn-group pull-right">
              <%= link_to user_like_path(@user), method: :put, class: "btn btn-default btn-sm" do %>
    <span class="glyphicon glyphicon-chevron-up"></span>
    Upvote
              <%= @user.get_upvotes.size %>
  <% end %>
              <% end %>
              <% end %>
              
              
         
          
      </div>
    </div>
  </div>
</div>
