<% if !user_signed_in? && !admin_signed_in? %>
    <div class="jumbotron">
        <h1>Where Musicians Gather</h1>
        <p>Looking for bandmembers, or just want to show your skills?</p>
        <p><%= link_to "Sign Up To Create Your Profile", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
    </div>


<div class="featureHead">
   <h3>Featured artists</h3>
</div>

<% end %>

<% if !@users.present? %>
<h4 class="resultsH">There are currently no registered musicians located in <%= params[:search] %>.</h4>


<% else %>
<h4 class="resultsH">Musicians located in <%= params[:search] %></h4>
<% end %>
<div class="row">
    <% @users.each do |user| %>
    
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
           <div class="text-center">
               <% if user == current_user %>
               <%= link_to (image_tag user.image.url(:medium)), users_profile_path %>
               <% else %>
               <%= link_to (image_tag user.image.url(:medium)), user %>
               <% end %>
               <% if user.subscribed? %>
               <h4 class="userMain" align="center"><%= user.username %><span class="premium-badge">Premium</span></h4>
               <% else %> 
               <h4 class="userMain" align="center"><%= user.username %></h4>
               <% end %>
               

<div class="btn-group">
    <%= link_to user_path(user), class: "btn btn-default btn-sm" do %>

    <span class="glyphicon glyphicon-user"></span>
    Profile

  <% end %>
    <% if user_signed_in? || admin_signed_in? %>
             <%= link_to user_like_path(user), method: :put, class: "btn btn-default btn-sm" do %>

    <span class="glyphicon glyphicon-chevron-up"></span>
    Upvote
              <%= user.get_upvotes.size %>
  <% end %>
   
   
    <% if admin_signed_in? %>
    <%= link_to admin_destroy_user_path(user), method: :delete, class: "btn btn-defaul btn-sm", data: { confirm: "You sure?" } do%>

    <span class="glyphicon glyphicon-remove"></span>
    Delete
    
    <% end %>

  <% end %>
   
    <% end %>




      </div>
 
      </div>



        </div>
    </div>
    <% end %>
</div>
